
.form__element.address,
.form__element.comment {
  width: 100%;
}

.input {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 12px 0 36px 0;
  padding: 12px 0 12px 17px;
  border: 1px solid #999999;
  border-radius: 4px;
  width: 100%;
}

.input:focus {
  outline-width: 0;
  border: 1px solid #000;
  border-radius: 5px;
}

.address__input,
.comment__input {
  width: 100%;
}

.comment__input {
  resize: none;
}

.err__icon {
  content: "";
  display: block;
  position: absolute;

  width: 22px;
  height: 22px;
  background: url("../icon/error.png") no-repeat 0px 0px;
  background-size: 22px 22px;
  right: 13px;
  top: 45px;
}
.err__icon.disable {
  display: none;
}